body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#prod {
  padding: 60px 0;
  background-color: whitesmoke;
  
}

.vertical-line {
  position: absolute;
  background-color: orange;
  width: 2px; /* Adjust the width as needed */
  height: 25%;
  top: 170px;
}

.left-line {
  left: 0;
}

.right-line {
  right: 0;
}




  
  











